<p id="notice"><%= notice %></p>

<div>
<h1><%= @idea.name %></h1>
<hr>
<p>
  <%= @idea.summary.blank??  "No summary yet" : @idea.summary %>
</p>
<p>
  <%= @idea.idea_type.blank??  "No idea type yet" : @idea.idea_type %>
  <br/>
  <%= @idea.color.blank??  "No colors yet" : @idea.color %>
</p>
<br>
  <%= image_tag @idea.image, alt: "no picture yet" %>
  <p>
  <strong>Link:</strong>
  <%= @idea.link %>
</p>

<p>
  <strong>Github:</strong>
  <%= @idea.github %>
</p>

  <div class="buttons">
  <%= link_to button_to 'Edit', edit_idea_path(@idea), class: 'btn btn-warning' %> |
  <%= link_to button_to 'Ideas', ideas_path, class: 'btn btn-info' %>
  </div>
</div>




