<div class="well">
<h1><%= @idea.name %></h1>
<hr>
<p>
  <%= @idea.summary.blank??  "No summary yet" : @idea.summary %>
</p>
<p>
  <%= @idea.idea_type.blank??  "No idea type yet" : @idea.idea_type %>
  <br/>
  <%= @idea.color.blank??  "No colors yet" : @idea.color %>
</p>
<br>
  <%= image_tag @idea.image, alt: "No picture yet" %>

<p>
  <%= @idea.category_id.blank?? "Category not yet set" : Category.find(@idea.category_id).name %>
</p>
<p>
  <strong>Link:</strong>
  <%= @idea.link %>
</p>

<p>
  <strong>Github:</strong>
  <%= @idea.github %>
</p>

  <div class="buttons">
  <%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_idea_path(@idea), class: 'btn btn-warning active' %> |
  <%= link_to 'Ideas', ideas_path, class: 'btn btn-info active' %>
  </div>
</div>



